@use "../../style/partials/utilities/var" as *;
@use "../../style/partials/utilities/mixin" as *;
@use "../../style/partials/utilities/font" as *;

.about {
  padding: 1rem;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2.25rem;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding: 6.25rem;
  }
  &__title {
    font-size: 1.438rem;
    font-family: "avenir", sans-serif;
    color: $transparent-black;
    font-weight: 700;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 2.188rem;
      font-family: "avenir", sans-serif;
      color: $transparent-black;
      font-weight: 700;
      padding-top: 1.5rem;
      padding-bottom: 1.563rem;
    }
    @include desktop {
      font-size: 2.5rem;
      font-family: "avenir", sans-serif;
      color: $transparent-black;
      font-weight: 600;
      padding-top: 1.25rem;
      padding-bottom: 1.563rem;
    }
  }
  &__subtitle {
    font-family: "avenir", sans-serif;
    color: $transparent-black;
    font-weight: 600;
    font-size: 1.125rem;
    margin: 2rem 0;
    @include tablet {
      font-family: "avenir", sans-serif;
      color: $transparent-black;
      font-weight: 600;
      font-size: 1.563rem;
      margin-top: 1.875rem;
    }
    @include desktop {
      margin: 1rem;
      font-family: "avenir", sans-serif;
      font-weight: 600;
      font-size: 1.563rem;
    }
  }

  &__wrapper-p {
    @include tablet {
      display: flex;
      flex-direction: row;
      padding: 0 2rem;
    }
    @include desktop {
      display: flex;
      padding: 0 2rem;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: 0.875rem;
      line-height: 2rem;
      font-family: "avenir", sans-serif;
    }
  }

  &__img {
    width: 100%;
    height: 12.188rem;
    @include tablet {
      width: 100%;
      height: 25rem;
    }
    @include desktop {
      width: 100%;
      height: 34.375rem;
    }
  }

  &__p {
    font-family: "avenir", sans-serif;
    font-weight: 500;
    color: $transparent-black;
    text-align: initial;
    font-size: 0.938rem;
    line-height: 1.375rem;
    margin: 1rem 0;
    @include tablet {
      margin-right: 2rem;
      font-family: "avenir", sans-serif;
      font-weight: 500;
      color: $transparent-black;
      text-align: initial;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    @include desktop {
      margin-right: 2rem;
      font-family: "avenir", sans-serif;
      font-weight: 500;
      color: $transparent-black;
      text-align: initial;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  &__p-quote {
    margin: 0.938rem 0 0 0;
    overflow-wrap: break-word;
    color: $transparent-black;
    text-align: justify;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.563rem;
    margin-bottom: 2.25rem;
    @include tablet {
      margin: 0.938rem 0 0 0;
      overflow-wrap: break-word;
      color: $transparent-black;
      text-align: justify;
      word-wrap: break-word;
      font-weight: 600;
      font-size: 1.563rem;
      line-height: 1.875rem;
      margin-bottom: 2.25rem;
    }
    @include desktop {
      margin: 1.875rem 0 0 0;
      overflow-wrap: break-word;
      color: $transparent-black;
      text-align: justify;
      word-wrap: break-word;
      font-weight: 600;
      font-size: 1.563rem;
      line-height: 1.875rem;
      margin-bottom: 2.25rem;
    }
  }
}
