@use "../../style/partials/utilities/var" as *;
@use "../../style/partials/utilities/mixin" as *;
@use "../../style/partials/utilities/font" as *;

.comment {
  border-top: 1px solid $silver;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    display: flex;
    align-items: center;
  }
  &__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.438rem;
    list-style: none;
    width: 100%;
  }

  &__li {
    margin-right: 3.5rem;
    color: $transparent-black;
    font-weight: 600;
    &--date {
      color: $silver;
      font-weight: 500;
    }
  }
  &__p {
    display: flex;
    margin-left: 4rem;
    font-weight: 500;
    line-height: 1.375rem;
    @include mobile {
      max-width: 100%;
    }
    @include tablet {
      max-width: 100%;
    }
    @include desktop {
      max-width: 100%;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }

  &__button-likes {
    padding: 0.55rem 0.55rem 0 0.55rem;
  }
  &__button-delete {
    padding: 0.55rem 0.55rem 0 0.55rem;
  }

  &__button-img {
    @include mobile {
      width: 2rem;
      padding: 0 2rem;
      cursor: pointer;
    }
  }
}
